## [Start] Setting "onboardingCompleted" to default value of "false". **
$util.qr($context.args.input.put("onboardingCompleted", $util.defaultIfNull($ctx.args.input.onboardingCompleted, false)))
## [End] Setting "onboardingCompleted" to default value of "false". **
{}